:root {
	color-scheme: light dark;
}

* {
	box-sizing: border-box;
}

body {
	display: grid;
	margin: 0;
	gap: 32px;
	grid-template-columns: [l] repeat(
			auto-fit,
			min(400px, calc(100vw - 32px))
		) [r];
	grid-template-rows: min-content;
	justify-content: center;

	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
}

header {
	grid-column-start: l;
	grid-column-end: r;

	view-transition-name: header;

	display: flex;
	flex-flow: column;
	align-items: stretch;
	background: Canvas;
	padding: 20px 0;
	margin-bottom: -20px;
	gap: 20px;
}

.header__title {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

header nav {
	view-transition-name: nav;
}

header h1 {
	margin: unset;
	view-transition-name: title;
	font-weight: 500;
}

header fh-enhancer {
	display: block;
}

fh-enhancer h2 {
	all: unset;
	display: inline;
}

body > section {
	display: grid;
	grid-column: span 1;
	grid-row: span 3;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	gap: 12px;
}

.character-list {
	all: unset;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

.character {
	display: block;
	height: 40px;
	padding: 6px;
	border-radius: 12px;
}

.character:not(.character--active):is(:focus-visible, :hover) {
	outline: 1px solid var(--color);
	outline-offset: 0;
}

.character:focus-visible {
	outline: none;
}

.character img {
	width: 28px;
	height: 28px;
	object-fit: contain;
}

.character.character--active {
	background: var(--color);
	view-transition-name: nav__active;
}

.card {
	display: grid;
	grid-template-areas: "cell";
}

.card h3 {
	grid-area: cell;
	margin: 0;
	padding-top: 20px;
	align-self: start;
	text-align: center;
	color: transparent;
}

.card img {
	grid-area: cell;
	width: 100%;
	aspect-ratio: 10 / 14;
	border-radius: 12px;
}

fh-action {
	display: grid;
	padding: 12px;
	border-radius: 12px;
	border: 1px dashed var(--color, hotpink);
	gap: 12px 8px;
	grid-template-columns: max-content max-content 1fr max-content;
	align-content: start;
}

fh-enhancement {
	display: contents;
}

fh-enhancement .cost-list {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 3 / 5;
	gap: 8px;
}

fh-enhancement .cost-list .computation {
	display: contents;
}

/* Animations :) */

@view-transition {
	navigation: auto;
}

/* Customize the default animation behavior */

::view-transition-group(*) {
	animation-duration: 0.5s;
}

/* Create a custom animation */

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes move-out {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes move-in {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
	animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
	animation: 0.4s ease-in both move-in;
}

::view-transition-old(nav__active) {
	animation: 0.4s linear both fade-out;
}

::view-transition-new(nav__active) {
	animation: 0.4s linear both fade-in;
}

::view-transition-old(title) {
	animation:
		0.4s ease-in both fade-out,
		0.4s ease-in both move-out;
}

::view-transition-new(title) {
	animation:
		0.4s ease-in both fade-in,
		0.4s ease-in both move-in;
}
