* {
	box-sizing: border-box;
}

body {
	display: grid;
	gap: 32px;
	grid-template-columns: [l] repeat(auto-fit, 400px) [r];
	grid-template-rows: min-content;
	justify-content: center;
}

fh-enhancer {
	grid-column-start: l;
	grid-column-end: r;
}

body > section {
	display: grid;
	grid-column: span 1;
	grid-row: span 3;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	gap: 12px;
}

.card {
	display: grid;
	grid-template: 560px / 400px;
	grid-template-areas: "cell";
}

.card h3 {
	grid-area: cell;
	margin: 0;
	padding-top: 20px;
	align-self: start;
	text-align: center;
	color: transparent;
}

.card img {
	grid-area: cell;
	width: 100%;
	aspect-ratio: 10 / 14;
	border-radius: 12px;
}

fh-action {
	display: grid;
	padding: 12px;
	border-radius: 12px;
	border: 1px dashed hotpink;
	gap: 12px 8px;
	grid-template-columns: max-content max-content 1fr max-content;
	align-content: start;
}

fh-enhancement {
	display: contents;
}

fh-enhancement .cost-list {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 3 / 5;
	gap: 8px;
}

fh-enhancement .cost-list .computation {
	display: contents;
}
